@model CarImagesWithDatesViewModel

<link rel="stylesheet" href="~/css/carIndex.css" asp-append-version="true" />
@{
    int seed = DateTime.UtcNow.Date.GetHashCode();
    Random random = new Random(seed);

    var isAdmin = User.IsInRole("Admin");

}
@if (!isAdmin)
{
    <form asp-controller="Car" asp-action="FilterDates" method="post">
        <div>
            <input type="date" asp-for="StartDate" name="StartDate" />
            <input type="date" asp-for="EndDate" name="EndDate" />
            <button type="submit" class="btn btn-primary">Change the date</button>
        </div>
    </form>
}
<form asp-action="Search" method="post" class="search-container">
    <div class="input-group">
        <span class="search-icon">🔍</span>
        <input type="text" name="searchBar" id="searchInput" placeholder="Търси кола..." />
       
    </div>
    <button type="submit" class="search-btn">🔍</button>
    <a asp-action="Filters" asp-controller="Car" class="btn-primary btn-filter">Filters</a>
</form>

<div class="container cars-list">
    <div class="row" id="carList">
        @foreach (var carWithImages in Model.CarWithImages.OrderBy(x=>random.Next()))
        {
            <div class="col-md-4 mb-4 car-item" data-title="@($"{carWithImages.Car.Brand} {carWithImages.Car.Model}")">
                <div class="card">
                    <img src="@carWithImages.Images.OrderBy(x=>x.Order).First().Url" alt="@carWithImages.Car.Brand" class="card-img-top" />

                    <div class="card-body">
                        <h5 class="card-title">@carWithImages.Car.Brand @carWithImages.Car.Model @carWithImages.Car.Year</h5>
                        <p class="card-text">
                            @carWithImages.Car.Gearbox • @carWithImages.Car.MileageLimitForDay km/rental
                        </p>
                        <div class="price-container">
                            <div class="price-text">
                                <h3 class="price-day">@carWithImages.Car.PricePerDay BGN / на ден</h3>
                                <p class="price-week">@carWithImages.Car.PricePerWeek BGN / на седмица</p>
                            </div>
                            <a asp-controller="Car" asp-action="@(isAdmin ? "EditPendingCar" : "Reservation")" asp-route-id="@carWithImages.Car.Id" class="btn btn-primary">
                                @(isAdmin ? "Прегледай" : "Резервирай сега")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



