@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["HideNavigation"] = true;
  
}
<link rel="stylesheet" href="~/css/pendings.css" asp-append-version="true" />
@model CarImagesViewModel
<div class="container cars-list">
    <div class="row" id="carList">
        @foreach (var carWithImages in Model.CarWithImages.OrderBy(x => x.Car.CreatedAt))
        {
    <div class="col-md-4 mb-4 car-item" data-title="@($"{carWithImages.Car.Brand} {carWithImages.Car.Model}")">
        <div class="card">
            <img src="@carWithImages.Images.OrderBy(x=>x.Order).First().Url" alt="@carWithImages.Car.Brand" class="card-img-top" />

            <div class="card-body">
                <h5 class="card-title">@carWithImages.Car.Brand @carWithImages.Car.Model @carWithImages.Car.Year</h5>
                <p class="card-text">
                    @carWithImages.Car.Gearbox • @carWithImages.Car.MileageLimitForDay km/rental per day
                </p>
                <div class="price-container">
                    <div class="price-text">
                        <h3 class="price-day">@carWithImages.Car.PricePerDay BGN / per day</h3>
                        <p class="price-week">@carWithImages.Car.PricePerWeek BGN / per week</p>
                    </div>
                    <a asp-controller="Car" asp-action="EditPendingCar" asp-route-id="@carWithImages.Car.Id" class="btn btn-primary">
                        Review
                    </a>
                </div>
            </div>
        </div>
    </div>
    }
</div>
</div>