<link rel="stylesheet" href="~/css/reservation.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
@model CarWithImages


<div class="booking-layout">
  
    <div class="carousel-section">
        <div class="carousel-wrapper">
            <div id="carCarousel-@Model.Car.Id" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Images.Count; i++)
                    {
                        <div class="carousel-item @(i == 0 ? "active" : "")">
                            <img src="@Model.Images[i].Url" class="d-block w-100" alt="@Model.Car.Brand">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carCarousel-@Model.Car.Id" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carCarousel-@Model.Car.Id" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <h5 class="card-title">@Model.Car.Brand @Model.Car.Model @Model.Car.Year</h5>
            <p class="card-text">
                @Model.Car.Gearbox • @Model.Car.MileageLimitForDay km/rental
            </p>

          
            <div class="price-container">
                <div class="price-text">
                    <h3 class="price-day">@Model.Car.PricePerDay BGN / на ден</h3>
                    <p class="price-week">@Model.Car.PricePerWeek BGN / на седмица</p>
                </div>
            </div>
        </div>
    </div>

    <form asp-action="Reservation" asp-controller="Car" method="post">
       
        <input type="hidden" asp-for="Car.Id" />
        <div class="details-section">
            <h4>Избор на получаване</h4>
            <div class="form-check">
                <input class="form-check-input" asp-for="IsSelfPick" type="radio" name="IsSelfPick" value="true" checked>
                <label class="form-check-label" asp-for="IsSelfPick">
                    Self Pick (от нашия офис)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="IsSelfPick" type="radio" name="pickUpOption" id="customAddress" value="false">
                <label class="form-check-label">
                    Доставка до адрес
                </label>
            </div>

            <div id="addressInput">
                <label asp-for="CustomAddress">Адрес:</label>
                <input type="text" asp-for="CustomAddress" id="streetAddress" placeholder="Въведете адрес">
            </div>

            <h4 style="margin-top: 2rem;">Място за връщане</h4>
            <div class="form-check">
                <input class="form-check-input" asp-for="IsReturningBackAtSamePlace" type="radio" name="returnOption" id="returnSameLocation" value="true">
                <label class="form-check-label" asp-for="IsReturningBackAtSamePlace">
                    Връщане на същото място
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="IsReturningBackAtSamePlace" type="radio" name="returnOption" id="returnOffice" value="office" checked>
                <label class="form-check-label" for="returnOffice">
                    Връщане в офис
                </label>
            </div>

            <div>
                <input type="date" asp-for="StartDate" name="StartDate" />
                <input type="date" asp-for="EndDate" name="EndDate" />
                <button type="submit" name="submitButton" value="ChangeDate" class="btn btn-primary">Change the date</button>
            </div>

            <button type="submit" name="submitButton" value="BookNow" class="btn btn-primary">Book now</button>
        </div>
    </form>
</div>

<div class="features-container">
    <h4>Car Features</h4>
    <div class="features-grid">
        @foreach (var feature in Model.Features)
        {
            <div class="feature-item">
                <span class="feature-icon">
                    @if (feature.NameOfFeatures.Contains("Air Conditioning"))
                    {
                        <i class="bi bi-wind"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Heated Seats"))
                    {
                        <i class="bi bi-thermometer-high"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Bluetooth"))
                    {
                        <i class="bi bi-bluetooth"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Navigation") )
                    {
                        <i class="bi bi-map"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Camera") || feature.NameOfFeatures.Contains("Parking"))
                    {
                        <i class="bi bi-camera-video"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Adaptive"))
                    {
                      
                        <i class="bi bi-speedometer"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Lane Departure Warning"))
                    {
                        <i class="bi bi-exclamation-triangle"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Adaptive Headlights"))
                    {
                        <i class="bi bi-lightbulb"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Blind Spot Detection"))
                    {
                        <i class="bi bi-eye"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Automatic Parking"))
                    {
                        <i class="bi bi-car-front-fill"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Push-Button Start"))
                    {
                        <i class="bi bi-power"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Wireless Charging"))
                    {
                        <i class="bi bi-lightning-charge"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Panoramic Sunroof"))
                    {
                        <i class="bi bi-brightness-high"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Power Adjustable Seats"))
                    {
                        <i class="bi bi-check-circle-fill"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Backup Sensors"))
                    {
                        <i class="bi bi-radar"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Heated Steering Wheel"))
                    {
                        <i class="bi bi-steering-wheel"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Keyless"))
                    {
                        <i class="bi bi-key"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Surround-View Camera"))
                    {
                        <i class="bi bi-camera-reels"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Remote Start"))
                    {
                        <i class="bi bi-wifi"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Apple"))
                    {
                        <i class="bi bi-apple"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Adaptive Cruise Control"))
                    {
                        <i class="bi bi-check-circle-fill"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Android"))
                    {
                        <i class="bi bi-android2"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Rear Cross Traffic Alert"))
                    {
                        <i class="bi bi-arrow-left-right"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Heads-Up Display"))
                    {
                        <i class="bi bi-display"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Ambient Lighting"))
                    {
                        <i class="bi bi-lightbulb-fill"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Wireless Apple CarPlay"))
                    {
                        <i class="bi bi-broadcast"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Power Tailgate"))
                    {
                        <i class="bi bi-box-arrow-up"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Automatic Emergency Braking"))
                    {
                        <i class="bi bi-exclamation-diamond"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Traffic Sign Recognition"))
                    {
                        <i class="bi bi-signpost"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Rain-Sensing Wipers"))
                    {
                        <i class="bi bi-cloud-rain"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Dual-Zone Climate Control"))
                    {
                        <i class="bi bi-thermometer-sun"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Power Folding Mirrors"))
                    {
                        <i class="bi bi-arrows-angle-contract"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Lane Keeping Assist"))
                    {
                        <i class="bi bi-arrow-left-right"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Electric Power Steering"))
                    {
                        <i class="bi bi-lightning"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Turbocharged Engine"))
                    {
                        <i class="bi bi-speedometer"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Carbon Fiber Trim"))
                    {
                        <i class="bi bi-boxes"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Active Noise Cancellation"))
                    {
                        <i class="bi bi-volume-mute"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("All-Wheel Drive"))
                    {
                        <i class="bi bi-gear-wide-connected"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Front Parking Sensors"))
                    {
                        <i class="bi bi-radar"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Sport Mode"))
                    {
                        <i class="bi bi-ev-front"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Wireless Smartphone Charging"))
                    {
                        <i class="bi bi-battery-charging"></i>
                        
                    }
                    else if (feature.NameOfFeatures.Contains("Massaging Seats"))
                    {
                        <i class="bi bi-person-hearts"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Self-Healing Paint"))
                    {
                        <i class="bi bi-brush"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Night Vision"))
                    {
                        <i class="bi bi-moon-stars"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Active Rear Spoiler"))
                    {
                        <i class="bi bi-airplane-engines"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Heads-Up Display with Navigation"))
                    {
                        <i class="bi bi-display"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Wireless Internet Access"))
                    {
                        <i class="bi bi-wifi"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Active Suspension"))
                    {
                        <i class="bi bi-car-front"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Power Adjustable Steering Whee"))
                    {
                        <i class="bi bi-check-circle-fill"></i>
                    }
                    else if (feature.NameOfFeatures.Contains("Touchscreen Control Panel"))
                    {
                        <i class="bi bi-tablet-landscape"></i>
                    }
                    else
                    {
                        <i class="bi bi-check-circle-fill"></i>
                    }
                </span>
                <span class="feature-name">@feature.NameOfFeatures</span>
            </div>
        }
    </div>
</div>